<?xml version="1.0" encoding="utf-8"?>
<Content Key="55555555-5555-5555-5555-555555555555" Alias="Executive Coaching" Level="3">
  <Info>
    <Parent Key="3f707442-9abc-4677-b69a-b0ce9a0a8d9a">Kezdőlap</Parent>
    <Path>/ExecutiveInsight/Kezdolap/ExecutiveCoaching</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-09-05T16:39:26</CreateDate>
    <NodeName Default="Executive Coaching" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c5c5c5c5-c5c5-c5c5-c5c5-c5c5c5c5c5c5">contentPage</Template>
  </Info>
  <Properties>
    <bodyGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a1111111-1111-1111-1111-111111111111",
      "key": "e0000001-1111-1111-1111-111111111111",
      "values": [
        {
          "alias": "padding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "medium"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "solidDark"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "wide"
        },
        {
          "alias": "secondaryHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "Szolg\u00E1ltat\u00E1saink",
            "style": "M"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "C-szint\u0171 Sparring \u00E9s Strat\u00E9giai T\u00E1mogat\u00E1s",
            "style": "H2"
          }
        },
        {
          "alias": "introduction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EDiszkr\u00E9t, szem\u00E9lyre szabott megold\u00E1sok d\u00F6nt\u00E9shoz\u00F3knak. Nem sablonokat adunk: a legkritikusabb d\u00F6nt\u00E9si helyzetekben seg\u00EDt\u00FCnk tiszt\u00E1n l\u00E1tni \u00E9s magabiztosan cselekedni.\u003C/p\u003E"
          }
        },
        {
          "alias": "showHeaderOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "textAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Left"
        }
      ]
    },
    {
      "contentTypeKey": "b3333333-3333-3333-3333-333333333333",
      "key": "e0000001-2222-2222-2222-222222222222",
      "values": [
        {
          "alias": "services",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "c5555555-5555-5555-5555-555555555551",
                "key": "e0000001-3333-3333-3333-000000000001",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Executive Coaching"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Szem\u00E9lyre szabott 1:1 sparring C-szint\u0171 vezet\u0151knek. Tiszt\u00E1nl\u00E1t\u00E1s a legkomplexebb \u00FCzleti dilemm\u00E1kban \u00E9s a fels\u0151vezet\u0151i elszigetelts\u00E9g hat\u00E9kony felold\u00E1sa."
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Users"
                  },
                  {
                    "alias": "tag",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1:1 Sparring"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Konzult\u00E1ci\u00F3 k\u00E9r\u00E9se",
                        "target": "_self",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "/kapcsolat",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "c5555555-5555-5555-5555-555555555551",
                "key": "e0000001-3333-3333-3333-000000000002",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Vezet\u0151i Mentoring"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Gyakorlati k\u00EDs\u00E9r\u00E9s \u00FAj vezet\u0151i poz\u00EDci\u00F3ba l\u00E9p\u00E9skor (C-suite, Board tags\u00E1g), nemzetk\u00F6zi terjeszked\u00E9sn\u00E9l vagy c\u00E9gm\u00E9retv\u00E1lt\u00E1s sor\u00E1n."
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Target"
                  },
                  {
                    "alias": "tag",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Szerepv\u00E1lt\u00E1s"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Konzult\u00E1ci\u00F3 k\u00E9r\u00E9se",
                        "target": "_self",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "/kapcsolat",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "c5555555-5555-5555-5555-555555555551",
                "key": "e0000001-3333-3333-3333-000000000003",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Szervezeti Transzform\u00E1ci\u00F3"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fels\u0151vezet\u0151i csapatok (Board \u00E9s C-suite) strat\u00E9giai \u00F6sszehangol\u00E1sa, funkci\u00F3n\u00E1lis sil\u00F3k lebont\u00E1sa \u00E9s hat\u00E9kony d\u00F6nt\u00E9shozatali strukt\u00FAra ki\u00E9p\u00EDt\u00E9se."
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "TrendingUp"
                  },
                  {
                    "alias": "tag",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aligning"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Konzult\u00E1ci\u00F3 k\u00E9r\u00E9se",
                        "target": "_self",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "/kapcsolat",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "c5555555-5555-5555-5555-555555555551",
                "key": "e0000001-3333-3333-3333-000000000004",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Strat\u00E9giai Tan\u00E1csad\u00E1s"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Diszkr\u00E9t vezet\u00E9si audit, kr\u00EDziskezel\u00E9si forgat\u00F3k\u00F6nyvek kidolgoz\u00E1sa \u00E9s fenntarthat\u00F3 n\u00F6veked\u00E9si strukt\u00FAra megtervez\u00E9se v\u00E1ls\u00E1g vagy akviz\u00EDci\u00F3 idej\u00E9n."
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Sparkles"
                  },
                  {
                    "alias": "tag",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kr\u00EDziskezel\u00E9s"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Konzult\u00E1ci\u00F3 k\u00E9r\u00E9se",
                        "target": "_self",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "/kapcsolat",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e0000001-3333-3333-3333-000000000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e0000001-3333-3333-3333-000000000002",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e0000001-3333-3333-3333-000000000003",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e0000001-3333-3333-3333-000000000004",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e0000001-3333-3333-3333-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e0000001-3333-3333-3333-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e0000001-3333-3333-3333-000000000003",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e0000001-3333-3333-3333-000000000004",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "a1111111-1111-1111-1111-111111111111",
      "key": "e0000002-1111-1111-1111-111111111111",
      "values": [
        {
          "alias": "padding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "medium"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "light"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "wide"
        },
        {
          "alias": "secondaryHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "M\u00F3dszertanunk",
            "style": "M"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "Hogyan dolgozunk egy\u00FCtt?",
            "style": "H2"
          }
        },
        {
          "alias": "introduction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EStruktur\u00E1lt, m\u00E9gis maxim\u00E1lisan rugalmas folyamat: minden egy\u00FCttm\u0171k\u00F6d\u00E9s az \u00D6n priorit\u00E1saihoz \u00E9s a szervezet val\u00F3s ritmus\u00E1hoz igazodik.\u003C/p\u003E"
          }
        },
        {
          "alias": "showHeaderOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "b6666666-6666-6666-6666-666666666666",
      "key": "e0000002-2222-2222-2222-222222222222",
      "values": [
        {
          "alias": "steps",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "b6666666-6666-6666-6666-666666666661",
                "key": "e0000002-3333-3333-3333-000000000001",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Diagn\u00F3zis \u00E9s F\u00F3kusz"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "90 perces diszkr\u00E9t felt\u00E1r\u00E1s: a val\u00F3s fesz\u00FClts\u00E9gpontok, akad\u00E1lyok \u00E9s a legnagyobb megt\u00E9r\u00FCl\u00E9s\u0171 f\u00F3kuszter\u00FCletek azonos\u00EDt\u00E1sa."
                  }
                ]
              },
              {
                "contentTypeKey": "b6666666-6666-6666-6666-666666666661",
                "key": "e0000002-3333-3333-3333-000000000002",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Strat\u00E9giai Terv"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Szem\u00E9lyre szabott fejleszt\u00E9si \u00E9s d\u00F6nt\u00E9si terv meghat\u00E1roz\u00E1sa egy\u00E9rtelm\u0171, m\u00E9rhet\u0151 c\u00E9lokkal \u00E9s m\u00E9rf\u00F6ldk\u00F6vekkel \u2014 sablonok n\u00E9lk\u00FCl."
                  }
                ]
              },
              {
                "contentTypeKey": "b6666666-6666-6666-6666-666666666661",
                "key": "e0000002-3333-3333-3333-000000000003",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Intenz\u00EDv Sparring"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Rendszeres, struktur\u00E1lt 1:1 \u00FCl\u00E9sek \u00E9s val\u00F3s idej\u0171, diszkr\u00E9t d\u00F6nt\u00E9st\u00E1mogat\u00E1s a kritikus vezet\u0151i helyzetekben."
                  }
                ]
              },
              {
                "contentTypeKey": "b6666666-6666-6666-6666-666666666661",
                "key": "e0000002-3333-3333-3333-000000000004",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Konszolid\u00E1ci\u00F3 \u00E9s Hat\u00E1s"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Az \u00FAj vezet\u0151i m\u0171k\u00F6d\u00E9s be\u00E1gyaz\u00E1sa, szervezeti adapt\u00E1ci\u00F3ja \u00E9s az el\u00E9rt eredm\u00E9nyek hossz\u00FA t\u00E1v\u00FA stabiliz\u00E1l\u00E1sa."
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e0000002-3333-3333-3333-000000000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e0000002-3333-3333-3333-000000000002",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e0000002-3333-3333-3333-000000000003",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e0000002-3333-3333-3333-000000000004",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e0000002-3333-3333-3333-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e0000002-3333-3333-3333-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e0000002-3333-3333-3333-000000000003",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e0000002-3333-3333-3333-000000000004",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "bottomStripTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "K\u00E9rd\u00E9se van a folyamattal kapcsolatban?"
        },
        {
          "alias": "bottomStripDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Egyeztessen k\u00F6zvetlen, k\u00F6telezetts\u00E9gmentes konzult\u00E1ci\u00F3t \u00FCgyvezet\u0151nkkel."
        },
        {
          "alias": "bottomStripCta",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f2222222-2222-2222-2222-222222222222",
                "key": "e0000002-4444-4444-4444-000000000001",
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Konzult\u00E1ci\u00F3 k\u00E9r\u00E9se",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "/kapcsolat",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ArrowRight"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e0000002-4444-4444-4444-000000000001",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e0000002-4444-4444-4444-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e0000001-1111-1111-1111-111111111111",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e0000001-2222-2222-2222-222222222222",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e0000002-1111-1111-1111-111111111111",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e0000002-2222-2222-2222-222222222222",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e0000001-2222-2222-2222-222222222222",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "c1111111-1111-1111-1111-111111111111"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e0000001-1111-1111-1111-111111111111",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e0000002-2222-2222-2222-222222222222",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "c1111111-1111-1111-1111-111111111111"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e0000002-1111-1111-1111-111111111111",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyGrid>
    <breadcrumbName>
      <Value><![CDATA[]]></Value>
    </breadcrumbName>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <seoDescription>
      <Value><![CDATA[Személyre szabott C-szintű vezetői coaching, stratégiai sparring és transzformációs kísérés. Diszkrét támogatás Budapesten és online.]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[Executive Coaching és Vezetői Tanácsadás | Executive Insight]]></Value>
    </seoTitle>
    <showBreadcrumb>
      <Value><![CDATA[1]]></Value>
    </showBreadcrumb>
    <socialDescription>
      <Value><![CDATA[]]></Value>
    </socialDescription>
    <socialImage>
      <Value><![CDATA[]]></Value>
    </socialImage>
    <socialTitle>
      <Value><![CDATA[]]></Value>
    </socialTitle>
  </Properties>
</Content>