<?xml version="1.0" encoding="utf-8"?>
<Content Key="b12b5f37-fff3-46d3-824b-657014d36865" Alias="Executive Insights" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExecutiveInsights</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2026-06-24T12:12:32</CreateDate>
    <NodeName Default="Executive Insights" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>