<?xml version="1.0" encoding="utf-8"?>
<Content Key="66666666-6666-6666-6666-666666666666" Alias="Kapcsolat" Level="3">
  <Info>
    <Parent Key="3f707442-9abc-4677-b69a-b0ce9a0a8d9a">Kezdőlap</Parent>
    <Path>/ExecutiveInsight/Kezdolap/Kapcsolat</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-09-05T16:39:26</CreateDate>
    <NodeName Default="Kapcsolat" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c5c5c5c5-c5c5-c5c5-c5c5-c5c5c5c5c5c5">contentPage</Template>
  </Info>
  <Properties>
    <bodyGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a1111111-1111-1111-1111-111111111111",
      "key": "c0000001-1111-1111-1111-111111111111",
      "values": [
        {
          "alias": "padding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "medium"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "solidDark"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "wide"
        },
        {
          "alias": "secondaryHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "Konzult\u00E1ci\u00F3",
            "style": "M"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "L\u00E9pj\u00FCnk kapcsolatba",
            "style": "H2"
          }
        },
        {
          "alias": "introduction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EVezet\u0151i k\u00E9rd\u00E9seivel forduljon hozz\u00E1nk bizalommal. Minden megkeres\u00E9st szigor\u00FA diszkr\u00E9ci\u00F3val \u00E9s priorit\u00E1ssal kezel\u00FCnk.\u003C/p\u003E"
          }
        },
        {
          "alias": "showHeaderOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "b8888888-8888-8888-8888-888888888888",
      "key": "c0000001-2222-2222-2222-222222222222",
      "values": [
        {
          "alias": "form",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "b81b092d-011d-4bd0-a201-c3f0635b2a50"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "K\u00F6zvetlen, szem\u00E9lyre szabott konzult\u00E1ci\u00F3 C-szint\u0171 d\u00F6nt\u00E9shoz\u00F3knak. C\u00E9g\u00FCnk \u00FCgyvezet\u0151je, S\u00E1rosi Georgina szem\u00E9lyesen garant\u00E1lja a maxim\u00E1lis diszkr\u00E9ci\u00F3t \u00E9s a 24 \u00F3r\u00E1n bel\u00FCli visszajelz\u00E9st."
        },
        {
          "alias": "contactValues",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "b8888888-8888-8888-8888-888888888801",
                "key": "c0000001-3333-3333-3333-000000000001",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Telefon"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u002B36 1 450 8900"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Phone"
                  }
                ]
              },
              {
                "contentTypeKey": "b8888888-8888-8888-8888-888888888801",
                "key": "c0000001-3333-3333-3333-000000000002",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "E-mail"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "office@executiveinsight.hu"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Mail"
                  }
                ]
              },
              {
                "contentTypeKey": "b8888888-8888-8888-8888-888888888801",
                "key": "c0000001-3333-3333-3333-000000000003",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u00DCgyvezet\u00E9s"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "S\u00E1rosi Georgina \u2014 \u00DCgyvezet\u0151 igazgat\u00F3"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Users"
                  }
                ]
              },
              {
                "contentTypeKey": "b8888888-8888-8888-8888-888888888801",
                "key": "c0000001-3333-3333-3333-000000000004",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Iroda"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1054 Budapest, Szabads\u00E1g t\u00E9r 7."
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Compass"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "c0000001-3333-3333-3333-000000000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c0000001-3333-3333-3333-000000000002",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c0000001-3333-3333-3333-000000000003",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c0000001-3333-3333-3333-000000000004",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "c0000001-3333-3333-3333-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c0000001-3333-3333-3333-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c0000001-3333-3333-3333-000000000003",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c0000001-3333-3333-3333-000000000004",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c0000001-1111-1111-1111-111111111111",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c0000001-2222-2222-2222-222222222222",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "c0000001-2222-2222-2222-222222222222",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "c1111111-1111-1111-1111-111111111111"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c0000001-1111-1111-1111-111111111111",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyGrid>
    <breadcrumbName>
      <Value><![CDATA[]]></Value>
    </breadcrumbName>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <seoDescription>
      <Value><![CDATA[Vegye fel a kapcsolatot az Executive Insight csapatával. Személyes és online vezetői tanácsadás, 1:1 C-szintű konzultáció.]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[Kapcsolat | Executive Insight - Vezetői Konzultáció]]></Value>
    </seoTitle>
    <showBreadcrumb>
      <Value><![CDATA[1]]></Value>
    </showBreadcrumb>
    <socialDescription>
      <Value><![CDATA[]]></Value>
    </socialDescription>
    <socialImage>
      <Value><![CDATA[]]></Value>
    </socialImage>
    <socialTitle>
      <Value><![CDATA[]]></Value>
    </socialTitle>
  </Properties>
</Content>