<?xml version="1.0" encoding="utf-8"?>
<Content Key="47c32d18-5106-4528-b7f6-8d7bea0a7c53" Alias="Rólunk" Level="3">
  <Info>
    <Parent Key="3f707442-9abc-4677-b69a-b0ce9a0a8d9a">Kezdőlap</Parent>
    <Path>/ExecutiveInsights/Kezdolap/Rolunk</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-07-24T23:14:03</CreateDate>
    <NodeName Default="Rólunk" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>