<?xml version="1.0" encoding="utf-8"?>
<Content Key="47c32d18-5106-4528-b7f6-8d7bea0a7c53" Alias="Rólunk" Level="3">
  <Info>
    <Parent Key="3f707442-9abc-4677-b69a-b0ce9a0a8d9a">Kezdőlap</Parent>
    <Path>/ExecutiveInsight/Kezdolap/Rolunk</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-07-24T23:14:03</CreateDate>
    <NodeName Default="Rólunk" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c5c5c5c5-c5c5-c5c5-c5c5-c5c5c5c5c5c5">contentPage</Template>
  </Info>
  <Properties>
    <bodyGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a1111111-1111-1111-1111-111111111111",
      "key": "21e1fcb6-606e-471a-8afd-309a391cb3bc",
      "values": [
        {
          "alias": "padding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "small"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "dark"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "wide"
        },
        {
          "alias": "secondaryHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "Az Executive Insight k\u00FCldet\u00E9se",
            "style": "M"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "F\u00FCggetlen n\u00E9z\u0151pont. Tiszta strat\u00E9giai d\u00F6nt\u00E9sek.",
            "style": "H2"
          }
        },
        {
          "alias": "introduction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EC-szint\u0171 vezet\u0151k \u00E9s d\u00F6nt\u00E9shoz\u00F3k diszkr\u00E9t strat\u00E9giai partnere vagyunk a n\u00F6veked\u00E9s, az \u00E1talakul\u00E1s \u00E9s a kritikus \u00FCzleti m\u00E9rf\u00F6ldk\u00F6vek idej\u00E9n.\u003C/p\u003E"
          }
        },
        {
          "alias": "showHeaderOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fejl\u00E9c"
        },
        {
          "alias": "textAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Left"
        }
      ]
    },
    {
      "contentTypeKey": "a1111111-1111-1111-1111-111111111111",
      "key": "32cfc58d-3e63-4c6d-95e5-af9db02b10e6",
      "values": [
        {
          "alias": "secondaryHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "Megk\u00F6zel\u00EDt\u00E9s\u00FCnk",
            "style": "M"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "Egy meggy\u0151z\u0151d\u00E9s, amib\u0151l professzion\u00E1lis m\u0171hely lett.",
            "style": "H2"
          }
        },
        {
          "alias": "blockName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "T\u00F6rt\u00E9net\u00FCnk"
        },
        {
          "alias": "showHeaderOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "padding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "small"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "cream"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "center"
        }
      ]
    },
    {
      "contentTypeKey": "a1414141-1414-1414-1414-141414141414",
      "key": "2839c01e-aaef-49fb-bfce-73ad33db5253",
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EAz Executive Insight az\u00E9rt j\u00F6tt l\u00E9tre, hogy alternat\u00EDv\u00E1t ny\u00FAjtson a szem\u00E9lytelen, sablonos nagyv\u00E1llalati tan\u00E1csad\u00E1ssal szemben. Meggy\u0151z\u0151d\u00E9s\u00FCnk, hogy a legfontosabb vezet\u0151i d\u00F6nt\u00E9seket nem sablonos prezent\u00E1ci\u00F3k \u00E9s junior tan\u00E1csad\u00F3k viszik sikerre, hanem a m\u00E9ly szakmai jelenl\u00E9t, a felt\u00E9tlen diszkr\u00E9ci\u00F3 \u00E9s a val\u00F3di 1:1 sparring partners\u00E9g.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp\u003EBoutique m\u0171helyk\u00E9nt minden megb\u00EDz\u00E1sunk egyedi: k\u00F6zvetlen, szem\u00E9lyes felel\u0151ss\u00E9gv\u00E1llal\u00E1ssal dolgozunk, ahol a fels\u0151vezet\u0151 kih\u00EDv\u00E1sai az els\u0151 napt\u00F3l a legmagasabb szint\u0171, dedik\u00E1lt figyelmet kapj\u00E1k.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a1111111-1111-1111-1111-111111111111",
      "key": "44444444-5555-6666-7777-888888888881",
      "values": [
        {
          "alias": "padding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "small"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "warm"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "wide"
        },
        {
          "alias": "secondaryHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "Vezet\u00E9s",
            "style": "M"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "text": "Szem\u00E9lyes figyelem. Val\u00F3di felel\u0151ss\u00E9gv\u00E1llal\u00E1s.",
            "style": "H2"
          }
        },
        {
          "alias": "introduction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "\u003Cp\u003EA boutique modell\u00FCnk l\u00E9nyege, hogy minden vezet\u0151i folyamatot k\u00F6zvetlen\u00FCl tapasztalt szakember vezet.\u003C/p\u003E"
          }
        },
        {
          "alias": "showHeaderOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Csapatunk"
        }
      ]
    },
    {
      "contentTypeKey": "a1313131-1313-1313-1313-131313131311",
      "key": "a1313131-0000-0000-0000-000000000001",
      "values": [
        {
          "alias": "teamMembers",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a1313131-1313-1313-1313-131313131312",
                "key": "a1313131-0000-0000-0000-000000000002",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "S\u00E1rosi Georgina"
                  },
                  {
                    "alias": "role",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u00DCgyvezet\u0151 igazgat\u00F3"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fels\u0151vezet\u0151i tan\u00E1csad\u00F3 \u00E9s executive coach. F\u0151 szakter\u00FClete a C-szint\u0171 d\u00F6nt\u00E9st\u00E1mogat\u00E1s, a vezet\u0151i magabiztoss\u00E1g er\u0151s\u00EDt\u00E9se \u00E9s a strat\u00E9giai transzform\u00E1ci\u00F3k levez\u00E9nyl\u00E9se."
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a1313131-0000-0000-0000-000000000003",
                        "mediaKey": "1cf70da6-e8ce-4a82-af8e-4fed52a1173b",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a1313131-0000-0000-0000-000000000002",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a1313131-0000-0000-0000-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "21e1fcb6-606e-471a-8afd-309a391cb3bc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "32cfc58d-3e63-4c6d-95e5-af9db02b10e6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2839c01e-aaef-49fb-bfce-73ad33db5253",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "44444444-5555-6666-7777-888888888881",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1313131-0000-0000-0000-000000000001",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "c1111111-1111-1111-1111-111111111111"
          }
        ],
        "columnSpan": 12,
        "contentKey": "21e1fcb6-606e-471a-8afd-309a391cb3bc",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "2839c01e-aaef-49fb-bfce-73ad33db5253",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "c1111111-1111-1111-1111-111111111111"
          }
        ],
        "columnSpan": 12,
        "contentKey": "32cfc58d-3e63-4c6d-95e5-af9db02b10e6",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a1313131-0000-0000-0000-000000000001",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "c1111111-1111-1111-1111-111111111111"
          }
        ],
        "columnSpan": 12,
        "contentKey": "44444444-5555-6666-7777-888888888881",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyGrid>
    <breadcrumbName>
      <Value><![CDATA[]]></Value>
    </breadcrumbName>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <seoDescription>
      <Value><![CDATA[Ismerd meg az Executive Insight csapatát és küldetését. Sárosi Georgina ügyvezető igazgató és prémium felsővezetői tanácsadás.]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[Rólunk | Executive Insight - Stratégiai Vezetői Tanácsadás]]></Value>
    </seoTitle>
    <showBreadcrumb>
      <Value><![CDATA[1]]></Value>
    </showBreadcrumb>
    <socialDescription>
      <Value><![CDATA[]]></Value>
    </socialDescription>
    <socialImage>
      <Value><![CDATA[]]></Value>
    </socialImage>
    <socialTitle>
      <Value><![CDATA[]]></Value>
    </socialTitle>
  </Properties>
</Content>