<?xml version="1.0" encoding="utf-8"?>
<Content Key="40000000-0000-0000-0000-000000000004" Alias="Settings" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Settings</Path>
    <Trashed Parent="b12b5f37-fff3-46d3-824b-657014d36865">true</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2026-06-25T14:00:00</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyrightText>
      <Value><![CDATA[© 2025 Executive Insights Kft. Minden jog fenntartva. 22]]></Value>
    </copyrightText>
    <footerDescription>
      <Value><![CDATA[Vezetői coaching és stratégiai mentorálás C-szintű vezetőknek és vezetői csapatoknak — Budapesten és online.]]></Value>
    </footerDescription>
    <headerCtaLabel>
      <Value><![CDATA[Kapcsolat]]></Value>
    </headerCtaLabel>
    <headerCtaLink>
      <Value><![CDATA[/kapcsolat]]></Value>
    </headerCtaLink>
    <linkedinUrl>
      <Value><![CDATA[https://linkedin.com]]></Value>
    </linkedinUrl>
    <logoText>
      <Value><![CDATA[Executive Insights]]></Value>
    </logoText>
  </Properties>
</Content>