<?xml version="1.0" encoding="utf-8"?>
<Content Key="88888888-8888-8888-8888-888888888888" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="b12b5f37-fff3-46d3-824b-657014d36865">Executive Insights</Parent>
    <Path>/ExecutiveInsights/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-06-25T14:00:00</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyrightText>
      <Value><![CDATA[© 2025 Executive Insights Kft. Minden jog fenntartva.]]></Value>
    </copyrightText>
    <footerBottomLinks>
      <Value><![CDATA[[
  {
    "name": "Adatv\u00E9delem",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/adatvedelem",
    "queryString": null,
    "culture": null
  },
  {
    "name": "\u00C1SZF",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/aszf",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Cookie be\u00E1ll\u00EDt\u00E1sok",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/cookie",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </footerBottomLinks>
    <footerCompanyLinks>
      <Value><![CDATA[[
  {
    "name": "R\u00F3lunk",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/rolunk",
    "queryString": null,
    "culture": null
  },
  {
    "name": "M\u00F3dszertan",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Esettanulm\u00E1nyok",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/rolunk",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Karrier",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "#",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </footerCompanyLinks>
    <footerCompanyTitle>
      <Value><![CDATA[Cég]]></Value>
    </footerCompanyTitle>
    <footerDescription>
      <Value><![CDATA[Vezetői coaching és stratégiai mentorálás C-szintű vezetőknek és vezetői csapatoknak — Budapesten és online.]]></Value>
    </footerDescription>
    <footerNewsletterForm>
      <Value><![CDATA[8ea6fcbf-707d-463c-a583-f17e556494ea]]></Value>
    </footerNewsletterForm>
    <footerNewsletterText>
      <Value><![CDATA[Havi egy mély insight a vezetésről. Spam nélkül.]]></Value>
    </footerNewsletterText>
    <footerNewsletterTitle>
      <Value><![CDATA[Iratkozz fel]]></Value>
    </footerNewsletterTitle>
    <footerServicesLinks>
      <Value><![CDATA[[
  {
    "name": "Executive Coaching",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Team Coaching",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Leadership Akad\u00E9mia",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Strat\u00E9giai M\u0171hely",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </footerServicesLinks>
    <footerServicesTitle>
      <Value><![CDATA[Szolgáltatások]]></Value>
    </footerServicesTitle>
    <headerCtaButton>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f2222222-2222-2222-2222-222222222222",
      "key": "d98c3b5c-edca-466c-94a9-1c3631ba3c2e",
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Kezd\u0151lap",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/3f7074429abc4677b69ab0ce9a0a8d9a",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "icon": "mdi:email",
            "color": "#1a2a4f"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d98c3b5c-edca-466c-94a9-1c3631ba3c2e",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d98c3b5c-edca-466c-94a9-1c3631ba3c2e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerCtaButton>
    <headerNavLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f1111111-1111-1111-1111-111111111111",
      "key": "880ce6de-0a6a-4136-b958-4a4c13d8f82a",
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Kezd\u0151lap",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/3f7074429abc4677b69ab0ce9a0a8d9a",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f4444444-4444-4444-4444-444444444444",
      "key": "da747b75-6d57-45c6-bea2-855cf8f1868d",
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Kezd\u0151lap",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/3f7074429abc4677b69ab0ce9a0a8d9a",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        },
        {
          "alias": "subItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f3333333-3333-3333-3333-333333333333",
                "key": "3e7ca1eb-5104-404c-8593-de837bd091c8",
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Kezd\u0151lap",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/3f7074429abc4677b69ab0ce9a0a8d9a",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "System.Collections.Generic.List\u00601[System.String]"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "description"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "3e7ca1eb-5104-404c-8593-de837bd091c8",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "3e7ca1eb-5104-404c-8593-de837bd091c8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "880ce6de-0a6a-4136-b958-4a4c13d8f82a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da747b75-6d57-45c6-bea2-855cf8f1868d",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "880ce6de-0a6a-4136-b958-4a4c13d8f82a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "da747b75-6d57-45c6-bea2-855cf8f1868d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerNavLinks>
    <instagramUrl>
      <Value><![CDATA[https://instagram.com]]></Value>
    </instagramUrl>
    <linkedinUrl>
      <Value><![CDATA[https://linkedin.com]]></Value>
    </linkedinUrl>
    <logoText>
      <Value><![CDATA[Executive Insights]]></Value>
    </logoText>
    <twitterUrl>
      <Value><![CDATA[https://twitter.com]]></Value>
    </twitterUrl>
  </Properties>
</Content>