<?xml version="1.0" encoding="utf-8"?>
<Content Key="88888888-8888-8888-8888-888888888888" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="b12b5f37-fff3-46d3-824b-657014d36865">Executive Insights</Parent>
    <Path>/ExecutiveInsights/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-06-25T14:00:00</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyrightText>
      <Value><![CDATA[© 2025 Executive Insights Kft. Minden jog fenntartva.]]></Value>
    </copyrightText>
    <footerBottomLinks>
      <Value><![CDATA[[
  {
    "name": "Adatv\u00E9delem",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/adatvedelem",
    "queryString": null,
    "culture": null
  },
  {
    "name": "\u00C1SZF",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/aszf",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Cookie be\u00E1ll\u00EDt\u00E1sok",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/cookie",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </footerBottomLinks>
    <footerCompanyLinks>
      <Value><![CDATA[[
  {
    "name": "R\u00F3lunk",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/rolunk",
    "queryString": null,
    "culture": null
  },
  {
    "name": "M\u00F3dszertan",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Esettanulm\u00E1nyok",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/rolunk",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Karrier",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "#",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </footerCompanyLinks>
    <footerCompanyTitle>
      <Value><![CDATA[Cég]]></Value>
    </footerCompanyTitle>
    <footerDescription>
      <Value><![CDATA[Vezetői coaching és stratégiai mentorálás C-szintű vezetőknek és vezetői csapatoknak — Budapesten és online.]]></Value>
    </footerDescription>
    <footerNewsletterText>
      <Value><![CDATA[Havi egy mély insight a vezetésről. Spam nélkül.]]></Value>
    </footerNewsletterText>
    <footerNewsletterTitle>
      <Value><![CDATA[Iratkozz fel]]></Value>
    </footerNewsletterTitle>
    <footerServicesLinks>
      <Value><![CDATA[[
  {
    "name": "Executive Coaching",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Team Coaching",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Leadership Akad\u00E9mia",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Strat\u00E9giai M\u0171hely",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </footerServicesLinks>
    <footerServicesTitle>
      <Value><![CDATA[Szolgáltatások]]></Value>
    </footerServicesTitle>
    <headerCtaLabel>
      <Value><![CDATA[Kapcsolat]]></Value>
    </headerCtaLabel>
    <headerCtaLink>
      <Value><![CDATA[/kapcsolat]]></Value>
    </headerCtaLink>
    <headerNavLinks>
      <Value><![CDATA[[
  {
    "name": "Szolg\u00E1ltat\u00E1sok",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  },
  {
    "name": "R\u00F3lunk",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/rolunk",
    "queryString": null,
    "culture": null
  },
  {
    "name": "M\u00F3dszertan",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/executive-coaching",
    "queryString": null,
    "culture": null
  },
  {
    "name": "Esettanulm\u00E1nyok",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "/rolunk",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </headerNavLinks>
    <instagramUrl>
      <Value><![CDATA[https://instagram.com]]></Value>
    </instagramUrl>
    <linkedinUrl>
      <Value><![CDATA[https://linkedin.com]]></Value>
    </linkedinUrl>
    <logoText>
      <Value><![CDATA[Executive Insights]]></Value>
    </logoText>
    <twitterUrl>
      <Value><![CDATA[https://twitter.com]]></Value>
    </twitterUrl>
  </Properties>
</Content>