# Frontend
FRONTEND_PUBLIC_URL=http://localhost
NEXT_PUBLIC_DIRECTUS_URL=http://localhost:8080

# Directus
DIRECTUS_PUBLIC_URL=http://localhost:8080
DIRECTUS_KEY=
DIRECTUS_SECRET=
DIRECTUS_ADMIN_EMAIL=
DIRECTUS_ADMIN_PASSWORD=

# PostgreSQL
POSTGRES_DB=directus
POSTGRES_USER=directus
POSTGRES_PASSWORD=
