<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7777777-7777-7777-7777-777777777771" Alias="bulletItem" Level="1">
  <Info>
    <Name>Bullet Item</Name>
    <Icon>icon-bulleted-list color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Simple bullet list item with icon</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b7777777-0000-0000-0000-000000000001</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bullet point text]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b7777777-0000-0000-0000-000000000002</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>7f3a1e9b-4c8d-4a2e-b123-9c8e7f6a5b4c</Definition>
      <Type>BetterIcons.Editor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select custom icon]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b7777777-tab0-0000-0000-000000000000</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
