<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8888888-8888-8888-8888-888888888888" Alias="contactComponent" Level="1">
  <Info>
    <Name>Contact Component</Name>
    <Icon>icon-message</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions>
         </Compositions>
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>20292392-4cff-4e89-a949-17499b052f16</Key>
      <Name>Contact Values</Name>
      <Alias>contactValues</Alias>
      <Definition>b8888888-8888-8888-8888-888888888802</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Add contact items (phone, email, location)]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1ac7cda7-0b3f-45ea-9bf8-d587aa179fcd</Key>
      <Name>Contact Form</Name>
      <Alias>form</Alias>
      <Definition>f8888888-8888-8888-8888-888888888888</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Pick an Umbraco Form to render]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c37684e0-cf1c-431b-bbcf-80c9bc3efc49</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>