<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0000000-0000-0000-0000-000000000000" Alias="ctaBandComponent" Level="1">
  <Info>
    <Name>CtaBand Component</Name>
    <Icon>icon-megaphone</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions>
         </Compositions>
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8845fd02-98d3-419b-a1ff-d195d01ddc2b</Key>
      <Name>Primary Button</Name>
      <Alias>primaryCta</Alias>
      <Definition>d8888888-3333-3333-3333-333333333334</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Primary CTA button (Max 1)]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a9ea5811-6c8e-4622-adec-0e0f672e1f63</Key>
      <Name>Secondary Button</Name>
      <Alias>secondaryCta</Alias>
      <Definition>d8888888-3333-3333-3333-333333333334</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Secondary CTA button (Max 1)]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4fc6c1e0-cb91-4dc2-afd8-ae7b0b6a8236</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>