<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc111111-1111-1111-1111-111111111111" Alias="headerProperties" Level="2">
  <Info>
    <Name>Header Properties</Name>
    <Icon>icon-h1</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Shared header options</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cc111111-1111-1111-1111-111111111112</Key>
      <Name>Show Header</Name>
      <Alias>showHeaderOptions</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Toggle to show the header section.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="headerOptions">Header Options</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cc111111-1111-1111-1111-111111111113</Key>
      <Name>Text Alignment</Name>
      <Alias>textAlignment</Alias>
      <Definition>dd333333-3333-3333-3333-333333333333</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Align the header content (Left, Center, Right). Default is Left.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="headerOptions">Header Options</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cc111111-1111-1111-1111-111111111114</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>dddddddd-dddd-dddd-dddd-dddddddddddd</Definition>
      <Type>Umbraco.JSON</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Main heading text.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="headerOptions">Header Options</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cc111111-1111-1111-1111-111111111117</Key>
      <Name>Secondary Heading</Name>
      <Alias>secondaryHeading</Alias>
      <Definition>eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee</Definition>
      <Type>Umbraco.JSON</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Eyebrow or secondary text above/below the main heading.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="headerOptions">Header Options</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cc111111-1111-1111-1111-111111111119</Key>
      <Name>Introduction</Name>
      <Alias>introduction</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Rich text introduction or description.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="headerOptions">Header Options</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cc111111-1111-1111-1111-111111111120</Key>
      <Name>Header Layout</Name>
      <Alias>headerLayout</Alias>
      <Definition>ffffffff-ffff-ffff-ffff-ffffffffffff</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Choose whether the header content is stacked or side-by-side.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="headerOptions">Header Options</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>tcc11111-1111-1111-1111-111111111111</Key>
      <Caption>Header Options</Caption>
      <Alias>headerOptions</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>