<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b1111111-1111-1111-1111-111111111111" Alias="heroComponent" Level="1">
  <Info>
    <Name>Hero Component</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <!-- Slides -->
    <GenericProperty>
      <Key>0ec25478-c26d-4539-8a49-8bb198d92774</Key>
      <Name>Slides</Name>
      <Alias>slides</Alias>
      <Definition>4f9ace46-27ee-4ba9-9ad7-a0ab277dd8ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add one or more slides. If more than 1, it will act as a carousel.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <!-- Autoplay -->
    <GenericProperty>
      <Key>0101147e-54ef-4a36-8c89-30991f66e746</Key>
      <Name>Auto-Scroll</Name>
      <Alias>autoScroll</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable auto-scroll for the slider]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <!-- Scroll Speed -->
    <GenericProperty>
      <Key>4fde09dd-7bbc-4f62-b54b-02f83fce0cf6</Key>
      <Name>Scroll Speed</Name>
      <Alias>scrollSpeed</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Auto-scroll interval in seconds (e.g. 5)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b768e0dd-fe0a-46b5-8cb2-480ce6215286</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>