<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b1111111-1111-1111-1111-111111111111" Alias="heroComponent" Level="1">
  <Info>
    <Name>Hero Component</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1111111-1111-1111-1111-111111111111</Key>
      <Name>Tag</Name>
      <Alias>tag</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Eyebrow text (small text above title)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c1111111-1111-1111-1111-111111111112</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c1111111-1111-1111-1111-111111111113</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hero description / subtitle]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c1111111-1111-1111-1111-111111111120</Key>
      <Name>Buttons</Name>
      <Alias>buttons</Alias>
      <Definition>b4e3535a-2222-2222-2222-222222222222</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[CTA buttons (first link is primary, second link is secondary)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c1111111-1111-1111-1111-111111111121</Key>
      <Name>Stats</Name>
      <Alias>stats</Alias>
      <Definition>b4444444-4444-4444-4444-444444444444</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Statistics (maximum 3 items)]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>t1111111-1111-1111-1111-111111111111</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
