<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b1111111-1111-1111-1111-111111111111" Alias="heroComponent" Level="1">
  <Info>
    <Name>Hero Component</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions>
         </Compositions>
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1111111-1111-1111-1111-111111111120</Key>
      <Name>Buttons</Name>
      <Alias>buttons</Alias>
      <Definition>b4e3535a-2222-2222-2222-222222222222</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[CTA buttons (first link is primary, second link is secondary)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c1111111-1111-1111-1111-111111111121</Key>
      <Name>Stats</Name>
      <Alias>stats</Alias>
      <Definition>b4444444-4444-4444-4444-444444444444</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Statistics (maximum 3 items)]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e6a39b34-8c87-43a0-9c17-1c3905001235</Key>
      <Name>Show Breadcrumb</Name>
      <Alias>showBreadcrumb</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Toggle to display auto-generated breadcrumbs (only visible on internal pages).]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e6a39b34-8c87-43a0-9c17-1c3905001237</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Optional image for the right side. If omitted, the content will be full-width.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>t1111111-1111-1111-1111-111111111111</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>