<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f2222222-2222-2222-2222-222222222222" Alias="linkWithIconItem" Level="1">
  <Info>
    <Name>Link With Icon Item</Name>
    <Icon>icon-link color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Link item with icon selection</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f2222222-0000-0000-0000-000000000001</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Navigation link or button URL]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f2222222-0000-0000-0000-000000000002</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>7f3a1e9b-4c8d-4a2e-b123-9c8e7f6a5b4c</Definition>
      <Type>BetterIcons.Editor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select an icon for this link or button]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f2222222-tab0-0000-0000-000000000000</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
