<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3333333-3333-3333-3333-333333333333" Alias="megaMenuSubItem" Level="1">
  <Info>
    <Name>MegaMenu Sub Item</Name>
    <Icon>icon-bulleted-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>MegaMenu dropdown child item with icon and description</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f3333333-0000-0000-0000-000000000001</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Navigation link and title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f3333333-0000-0000-0000-000000000002</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>7f3a1e9b-4c8d-4a2e-b123-9c8e7f6a5b4c</Definition>
      <Type>BetterIcons.Editor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select an icon]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f3333333-0000-0000-0000-000000000003</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Short explanatory text under the title (e.g. 1:1 vezetői fejlesztés)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f3333333-tab0-0000-0000-000000000000</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
