<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4444444-4444-4444-4444-444444444444" Alias="megaMenuItem" Level="1">
  <Info>
    <Name>MegaMenu Item</Name>
    <Icon>icon-navigation color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>MegaMenu top tab with nested dropdown items</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f4444444-0000-0000-0000-000000000001</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Top tab name and optional link]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f4444444-0000-0000-0000-000000000002</Key>
      <Name>Sub Items</Name>
      <Alias>subItems</Alias>
      <Definition>d8888888-1111-1111-1111-111111111111</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Nested dropdown menu links (icon, title, description)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f4444444-tab0-0000-0000-000000000000</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
