<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6666666-6666-6666-6666-666666666666" Alias="methodologyComponent" Level="1">
  <Info>
    <Name>Methodology Component</Name>
    <Icon>icon-network-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ce614da3-f67b-43a6-8c8e-1df1b229524a</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>39058126-521b-459b-9d17-42f6baf3d4f4</Key>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
      <GenericProperty>
      <Key>c947fcdd-7760-4c05-8c0b-86219da5817d</Key>
      <Name>Eyebrow</Name>
      <Alias>eyebrow</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Eyebrow text (small text above title)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>    <GenericProperty>
      <Key>cdb530f5-c852-4673-b95d-456ac2ec3654</Key>
      <Name>Step 1 Number</Name>
      <Alias>step1Num</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number (e.g. 01)]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>849608dc-50b8-4d01-a6e6-ad03a8b6532f</Key>
      <Name>Step 1 Title</Name>
      <Alias>step1Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>31</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>988d0b6d-9b22-402a-ba46-1afdf93681ca</Key>
      <Name>Step 1 Description</Name>
      <Alias>step1Desc</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>32</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>    <GenericProperty>
      <Key>e999649e-11c6-4f90-8b0e-d3a6712c45ef</Key>
      <Name>Step 2 Number</Name>
      <Alias>step2Num</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number (e.g. 01)]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b0afc02f-01f1-4392-af2b-e46931ea3f16</Key>
      <Name>Step 2 Title</Name>
      <Alias>step2Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>41</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f70bd37f-b9b3-4bad-8e6c-e3f60c99de07</Key>
      <Name>Step 2 Description</Name>
      <Alias>step2Desc</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>42</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>    <GenericProperty>
      <Key>04355a81-86fa-452d-9198-6427795adfdc</Key>
      <Name>Step 3 Number</Name>
      <Alias>step3Num</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number (e.g. 01)]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>85fa1841-c017-444c-baf3-a1069ca624c1</Key>
      <Name>Step 3 Title</Name>
      <Alias>step3Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>51</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a73f48a3-45c3-4d06-81ea-3750562320d5</Key>
      <Name>Step 3 Description</Name>
      <Alias>step3Desc</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>52</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>    <GenericProperty>
      <Key>3b6ce2db-365b-4657-b276-a43890d7414b</Key>
      <Name>Step 4 Number</Name>
      <Alias>step4Num</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number (e.g. 01)]]></Description>
      <SortOrder>60</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>14e85d53-2680-4a75-aa36-89b715a69b99</Key>
      <Name>Step 4 Title</Name>
      <Alias>step4Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>61</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1f27b6ed-63bd-4d35-b01c-c957881d4c9a</Key>
      <Name>Step 4 Description</Name>
      <Alias>step4Desc</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>62</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>    <GenericProperty>
      <Key>1ca54c66-5b8b-4b5c-bd2d-1dc0b374dabc</Key>
      <Name>Bottom Strip Title</Name>
      <Alias>bottomStripTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>100</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e8fe008d-2572-44bb-a2db-f63ab146265c</Key>
      <Name>Bottom Strip Description</Name>
      <Alias>bottomStripDesc</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>101</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5b37f206-6df3-46df-a9a9-7de2a3f8f9e2</Key>
      <Name>Bottom Strip CTA Text</Name>
      <Alias>bottomStripCtaText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>102</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ee154772-e5af-4bb1-85ad-0a087467ec3a</Key>
      <Name>Bottom Strip CTA Link</Name>
      <Alias>bottomStripCtaLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>103</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
</GenericProperties>
  <Tabs>
    <Tab>
      <Key>692f141e-7a8f-4c90-9325-3dbeebfe0700</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>


