<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1111111-1111-1111-1111-111111111111" Alias="oneColumnLayout" Level="1">
  <Info>
    <Name>One Column Layout</Name>
    <Icon>icon-stop</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Layouts</Folder>
    <Compositions />
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
    <GenericProperties>
    <GenericProperty>
      <Key>9de90710-f6a5-4e99-9c3b-b60f2ed74f10</Key>
      <Name>Padding</Name>
      <Alias>padding</Alias>
      <Definition>e1111111-1111-1111-1111-111111111111</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section padding size]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>48b76ccb-110a-42eb-a831-f5f7ad9eac4a</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>e1111111-1111-1111-1111-111111111112</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section background theme]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
    </GenericProperty>
  </GenericProperties>
    <Tabs>
    <Tab>
      <Key>3e26e356-4776-44ab-a8ec-1207073a4e3c</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>



