<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5555555-5555-5555-5555-555555555555" Alias="quoteSliderComponent" Level="1">
  <Info>
    <Name>QuoteSlider Component</Name>
    <Icon>icon-quote</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c5555555-5555-5555-5555-555555555555</Key>
      <Name>Quotes</Name>
      <Alias>quotes</Alias>
      <Definition>b5555555-2222-2222-2222-222222222222</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List of quotes (minimum 2, maximum 4)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c5555555-5555-5555-5555-555555555501</Key>
      <Name>Autoplay</Name>
      <Alias>autoplay</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable automatic quote sliding (jumps periodically)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e0f94a92-f6c0-4bc9-a1e1-edac2cf26cd4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
