<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b3333333-3333-3333-3333-333333333333" Alias="servicesComponent" Level="1">
  <Info>
    <Name>Services Component</Name>
    <Icon>icon-bulleted-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions>
         </Compositions>
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c5555555-5555-5555-5555-555555555553</Key>
      <Name>Services</Name>
      <Alias>services</Alias>
      <Definition>b5555555-5555-5555-5555-555555555552</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Add service items]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>t3333333-3333-3333-3333-333333333333</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>