<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b4444444-4444-4444-4444-444444444400" Alias="statsComponent" Level="2">
  <Info>
    <Name>Stats Component</Name>
    <Icon>icon-chart-curve</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>s4444444-4444-4444-4444-444444444401</Key>
      <Name>Stats</Name>
      <Alias>stats</Alias>
      <Definition>b4444444-4444-4444-4444-444444444444</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add stat items]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>t4444444-4444-4444-4444-444444444401</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
