<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1313131-1313-1313-1313-131313131311" Alias="teamComponent" Level="2">
  <Info>
    <Name>Team Component</Name>
    <Icon>icon-users-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions>
         </Compositions>
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e1313131-1313-1313-1313-131313131318</Key>
      <Name>Team Members</Name>
      <Alias>teamMembers</Alias>
      <Definition>d1313131-1313-1313-1313-131313131312</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>t1313131-1313-1313-1313-131313131312</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>