<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7777777-7777-7777-7777-777777777777" Alias="testimonialsComponent" Level="1">
  <Info>
    <Name>Testimonials Component</Name>
    <Icon>icon-chat-active</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions>
         </Compositions>
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a7777777-7777-7777-7777-777777777710</Key>
      <Name>Testimonials</Name>
      <Alias>testimonials</Alias>
      <Definition>b7777777-7777-7777-7777-777777777702</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Add testimonial items (Max 4)]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1b227eaf-aa1e-4341-969b-e1aeee3ed9d6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>