<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a3333333-3333-3333-3333-333333333333" Alias="threeColumnLayout" Level="1">
  <Info>
    <Name>Three Column Layout</Name>
    <Icon>icon-grid</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Layouts</Folder>
    <Compositions />
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
    <GenericProperties>
    <GenericProperty>
      <Key>1985cb9c-aedb-4b70-9b2d-d8b0c048c2e2</Key>
      <Name>Padding</Name>
      <Alias>padding</Alias>
      <Definition>e1111111-1111-1111-1111-111111111111</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section padding size]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>829d2334-2eef-4f16-919e-6106e09b6ef3</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>e1111111-1111-1111-1111-111111111112</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section background theme]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
    </GenericProperty>
  </GenericProperties>
    <Tabs>
    <Tab>
      <Key>b1d4ed44-2fa6-4299-b2ed-821d49db8cf0</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>



