<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1212121-1212-1212-1212-121212121211" Alias="timelineComponent" Level="2">
  <Info>
    <Name>Timeline Component</Name>
    <Icon>icon-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Components</Folder>
    <Compositions>
         </Compositions>
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e1212121-1212-1212-1212-121212121217</Key>
      <Name>Milestones</Name>
      <Alias>milestones</Alias>
      <Definition>d1212121-1212-1212-1212-121212121212</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>t1212121-1212-1212-1212-121212121212</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>