<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2222222-2222-2222-2222-222222222222" Alias="twoColumnLayout" Level="1">
  <Info>
    <Name>Two Column Layout</Name>
    <Icon>icon-columns</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>True</IsElement>
    <Folder>Layouts</Folder>
    <Compositions />
    <DefaultTemplate>
    </DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
    <GenericProperties>
    <GenericProperty>
      <Key>15b8eff9-70b6-4939-b0af-ffe9ed8bd82e</Key>
      <Name>Padding</Name>
      <Alias>padding</Alias>
      <Definition>e1111111-1111-1111-1111-111111111111</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section padding size]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5081ab34-1460-4d4d-947b-b3538076418b</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>e1111111-1111-1111-1111-111111111112</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section background theme]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
    </GenericProperty>
  </GenericProperties>
    <Tabs>
    <Tab>
      <Key>c55543a1-8fd4-445a-80cc-7b327d95ee5e</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>



