<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f3a1e9b-4c8d-4a2e-b123-9c8e7f6a5b4c" Alias="BetterIcons Picker" Level="1">
  <Info>
    <Name>BetterIcons Picker</Name>
    <EditorAlias>BetterIcons.Editor</EditorAlias>
    <EditorUIAlias>BetterIcons.UI</EditorUIAlias>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
