<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7777777-7777-7777-7777-777777777772" Alias="Block List - Bullet Items (Max 5)" Level="1">
  <Info>
    <Name>Block List - Bullet Items (Max 5)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "contentElementTypeKey": "b7777777-7777-7777-7777-777777777771",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=text}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 0,
    "max": 5
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>
