<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7777777-7777-7777-7777-777777777702" Alias="Block List - Testimonials (Max 4)" Level="1">
  <Info>
    <Name>Block List - Testimonials (Max 4)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "contentElementTypeKey": "b7777777-7777-7777-7777-777777777701",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=name}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": 4
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>
