<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5555555-5555-5555-5555-555555555552" Alias="Block List - Service Items" Level="1">
  <Info>
    <Name>Block List - Service Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "contentElementTypeKey": "c5555555-5555-5555-5555-555555555551",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 0,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>
