<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1313131-1313-1313-1313-131313131312" Alias="Block List - Team Members" Level="1">
  <Info>
    <Name>Block List - Team Members</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "contentElementTypeKey": "a1313131-1313-1313-1313-131313131312",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=name}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 0,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>
