<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8888888-3333-3333-3333-333333333333" Alias="Block List - Header CTA Button" Level="1">
  <Info>
    <Name>Block List - Header CTA Button</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "contentElementTypeKey": "f2222222-2222-2222-2222-222222222222",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=link[0].name} [{=icon}]",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 0,
    "max": 1
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>
