<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4444444-4444-4444-4444-444444444444" Alias="Block List - Stat Items" Level="1">
  <Info>
    <Name>Block List - Stat Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "contentElementTypeKey": "a4444444-4444-4444-4444-444444444444",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=number} - {=label}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 0,
    "max": 3
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>
