<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8888888-8888-8888-8888-888888888802" Alias="Block List - Contact Items" Level="1">
  <Info>
    <Name>Block List - Contact Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "contentElementTypeKey": "b8888888-8888-8888-8888-888888888801",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=label} - {=value}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 0,
    "max": 5
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>
