<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6666666-6666-6666-6666-666666666662" Alias="Block List - Methodology Steps" Level="1">
  <Info>
    <Name>Block List - Methodology Steps</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "contentElementTypeKey": "b6666666-6666-6666-6666-666666666661",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 0,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>
