<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8888888-1111-1111-1111-111111111111" Alias="Block List - MegaMenu Sub Items" Level="1">
  <Info>
    <Name>Block List - MegaMenu Sub Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "contentElementTypeKey": "f3333333-3333-3333-3333-333333333333",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=link[0].name} - {=description}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>
