<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8888888-2222-2222-2222-222222222222" Alias="Block List - Header Navigation" Level="1">
  <Info>
    <Name>Block List - Header Navigation</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "contentElementTypeKey": "f1111111-1111-1111-1111-111111111111",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=link[0].name} (Link)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "f4444444-4444-4444-4444-444444444444",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{=link[0].name} (MegaMenu)",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>
