<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ffffffff-ffff-ffff-ffff-ffffffffffff" Alias="Custom Header Layout Editor" Level="1">
  <Info>
    <Name>Custom Header Layout Editor</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.ComponentLayout</EditorUIAlias>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
