<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cba11111-1111-1111-1111-111111111111" Alias="Custom Background Settings Editor" Level="1">
  <Info>
    <Name>Custom Background Settings Editor</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.BackgroundSettings</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
