<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dddddddd-dddd-dddd-dddd-dddddddddddd" Alias="Custom Heading Editor" Level="1">
  <Info>
    <Name>Custom Heading Editor</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.ComponentHeading</EditorUIAlias>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
