<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aaaa1111-1111-1111-1111-111111111111" Alias="Custom Header Toggle Editor" Level="1">
  <Info>
    <Name>Custom Header Toggle Editor</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.ComponentHeaderToggle</EditorUIAlias>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{"default": "0", "showLabels": false}]]></Config>
</DataType>
