<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee" Alias="Custom Secondary Heading Editor" Level="1">
  <Info>
    <Name>Custom Secondary Heading Editor</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.ComponentSecondaryHeading</EditorUIAlias>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
