<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd333333-3333-3333-3333-333333333333" Alias="Dropdown - Text Alignment" Level="1">
  <Info>
    <Name>Dropdown - Text Alignment</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.ComponentAlignment</EditorUIAlias>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    "Left",
    "Center",
    "Right"
  ]
}]]></Config>
</DataType>
