<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd222222-2222-2222-2222-222222222222" Alias="Dropdown - Heading Size" Level="1">
  <Info>
    <Name>Dropdown - Heading Size</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.ComponentHeadingSize</EditorUIAlias>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    "S",
    "M",
    "L"
  ]
}]]></Config>
</DataType>
