<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8888888-8888-8888-8888-888888888888" Alias="Form Picker" Level="1">
  <Info>
    <Name>Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
    <Folder>Forms</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
