<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f60c1d9e-ef21-4137-863b-0865e86087de" Alias="Hero Auto-Scroll Speed" Level="1">
  <Info>
    <Name>Hero Auto-Scroll Speed</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 5,
  "initVal2": 0,
  "maxVal": 30,
  "minVal": 5,
  "step": 5
}]]></Config>
</DataType>
