<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1111111-1111-1111-1111-111111111111" Alias="Hero RTE" Level="2">
  <Info>
    <Name>Hero RTE</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "allowedMediaTypes": "cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Anchor",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.Underline"
  ],
  "maxImageSize": 500,
  "overlaySize": "medium",
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.Underline"
      ],
      [
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ]
    ]
  ]
}]]></Config>
</DataType>
