<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1111111-1111-1111-1111-111111111112" Alias="Layout Background Dropdown" Level="1">
  <Info>
    <Name>Layout Background Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    "cream",
    "warm",
    "dark",
    "solidDark"
  ]
}]]></Config>
</DataType>
