<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5555555-5555-5555-5555-555555555551" Alias="Dropdown - Service Icon" Level="1">
  <Info>
    <Name>Dropdown - Service Icon</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    "Target",
    "BarChart2",
    "Briefcase",
    "Layers",
    "ShieldCheck",
    "Cpu",
    "TrendingUp",
    "Users",
    "Award",
    "Lightbulb",
    "Compass",
    "Sparkles",
    "PieChart",
    "Globe",
    "Zap",
    "FileText",
    "CheckCircle",
    "Database",
    "Monitor",
    "Smartphone",
    "Star",
    "MessageSquare"
  ]
}]]></Config>
</DataType>
