<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5555555-5555-5555-5555-555555555551" Alias="Dropdown - Service Variant" Level="1">
  <Info>
    <Name>Dropdown - Service Variant</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    "cream",
    "warm",
    "dark"
  ]
}]]></Config>
</DataType>
