<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1313131-1313-1313-1313-131313131399" Alias="Team Component Variant Picker" Level="1">
  <Info>
    <Name>Team Component Variant Picker</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.TeamVariant</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
