<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0c2ecdb-14eb-4727-8658-144d0ed1626f" Alias="David Miller (1)" Level="2">
  <Info>
    <Parent Key="54295fd5-b8ca-4266-9faf-9153cf3b623e">Images</Parent>
    <Path>/Images/DavidMiller1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-11T09:53:05</CreateDate>
    <NodeName Default="David Miller (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/team/david-miller.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>