<?xml version="1.0" encoding="utf-8"?>
<Media Key="a479a8b8-db2f-4b86-9d2c-581553281444" Alias="Elena Vance (2)" Level="2">
  <Info>
    <Parent Key="54295fd5-b8ca-4266-9faf-9153cf3b623e">Images</Parent>
    <Path>/Images/ElenaVance2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-11T09:53:05</CreateDate>
    <NodeName Default="Elena Vance (2)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/team/elena-vance.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>