<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d441cda-8bd7-4377-bbe9-8cebd600c8ce" Alias="Executive Consulting Strategy" Level="2">
  <Info>
    <Parent Key="54295fd5-b8ca-4266-9faf-9153cf3b623e">Images</Parent>
    <Path>/Images/ExecutiveConsultingStrategy</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-11T09:52:05</CreateDate>
    <NodeName Default="Executive Consulting Strategy" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/about/consulting-strategy.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>