<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e9ec5e1-879a-4149-ac8c-5c86f5b38896" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-05T17:09:38</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>