<?xml version="1.0" encoding="utf-8"?>
<Media Key="01ea5776-54dd-4157-8748-87df02f0a344" Alias="photo-1542744173-8e7e53415bb0.jfif" Level="2">
  <Info>
    <Parent Key="54295fd5-b8ca-4266-9faf-9153cf3b623e">Images</Parent>
    <Path>/Images/photo15427441738e7e53415bb0jfif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-26T12:55:26</CreateDate>
    <NodeName Default="photo-1542744173-8e7e53415bb0.jfif" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5golzn3u/photo-1542744173-8e7e53415bb0.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>