<?xml version="1.0" encoding="utf-8"?>
<Media Key="877f0b9a-b2a0-4574-b6bd-0414eb4fe814" Alias="test-logo.png" Level="2">
  <Info>
    <Parent Key="7e9ec5e1-879a-4149-ac8c-5c86f5b38896">Logo</Parent>
    <Path>/Logo/testLogopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-05T17:09:52</CreateDate>
    <NodeName Default="test-logo.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cxadsmoj/test-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>