http://185.187.72.85, http://185.187.72.85.sslip.io {
    redir https://executiveinsight.hu{uri} permanent
}

executiveinsight.hu, www.executiveinsight.hu {
    encode zstd gzip
    reverse_proxy umbraco:8080
}

