.logoWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logoImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--theme-border-color);
  background-color: var(--theme-elevation-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImageNode {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: contain;
}

.logoText {
  color: var(--theme-brand-primary);
  font-weight: bold;
  font-size: 1.25rem;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.companyName {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: var(--theme-text);
}

.adminText {
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0;
  color: var(--theme-text-dim);
}
